blinker
certifi
cffi
click
cryptography
distlib
et_xmlfile
filelock
Flask
Flask-JWT-Extended
gunicorn
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
packaging
pandas
pipenv
platformdirs
psycopg2-binary
pycparser
PyJWT
python-dateutil
pytz
six
tzdata
virtualenv
Werkzeug
zipp
Flask
Flask-SQLAlchemy
Flask-CORS
python-dotenv
