blinker
certifi
cffi
click
cryptography
distlib
et_xmlfile
filelock
Flask
Flask-JWT-Extended
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
packaging
pandas
pipenv
platformdirs
pycparser
PyJWT
python-dateutil
pytz
six
tzdata
virtualenv
Werkzeug
zipp
gunicorn
psycopg2-binary
